<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <!-- <% if (kindOfDay === 'Saturday' || kindOfDay === 'Sunday') { %>
    <h1 style="color: purple"><%= kindOfDay %> Todo List</h1>
  <% } else { %>
    <h1 style="color: blue"><%= kindOfDay %> Todo List</h1>
  <% } %> -->
  <h1> <%= kindOfDay %> </h1>
  <p style="color:purple">Be happy everyday!</p>

  <ul>

    <% for (var i = 0; i < newListItems.length; i++) { %>
      <li> <%= newListItems[i] %> </li>
    <% } %>

  </ul>

  <form action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
  </form>

</body>
</html>